header {
    .box-message {
        position: absolute;
        top: 10%;
    }

    .wesolve-text {
        border: 2px solid white;
        background: #2d2c2c47;
        color: white;
    }

    .description-text {
        background: #2d2d2d;
    }
}